{% extends "base.html" %}

{% block title %}苹果设备列表{% end %}

{% block script %}
{% end %}
{% block style %}
<style>
    .color-right {
        background-color: yellowgreen;
        color: white;
    }

    .color-wrong {
        color: red;
    }
</style>
{% end %}

{% block content %}
<div class="container">
    <span onclick="location.reload()">
        <el-alert v-if="websocketDisconnected" title="WebSocket连接断开，点击或F5刷新重连" type="error">
        </el-alert>
    </span>
    <el-table :data="tableData">
        <el-table-column label="Status">
            <template slot-scope="scope">
                <template v-if="!scope.row.present">
                    <span style="color: gray">Offline</span>
                </template>
                <template v-else>
                    <a :href='"/devices/"+scope.row.udid+"/remotecontrol"' target="_blank"
                        @click="clickStatus($event, scope.row)">
                        {{!deviceStatusName(scope.row)}}
                    </a>
                </template>
            </template>
        </el-table-column>
        <el-table-column prop="udid" label="UDID">
            <template slot-scope="scope">
                <template v-if="scope.row.present && scope.row.using && scope.row.userId == user.email">
                    <a :href='"/devices/"+scope.row.udid+"/applecontrol"' target="_blank">{{!scope.row.prop_serial}}</a>
                </template>
                <template v-else>
                    {{!scope.row.prop_serial}}
                </template>
            </template>
        </el-table-column>
        <el-table-column prop="prop_brand" label="Brand"></el-table-column>
        <el-table-column prop="prop_version" label="Version"></el-table-column>
    </el-table>
</div>
{% end %}

{% block script %}
<script>
    const currentUserEmail = "{{ current_user.email }}";
    const currentUserName = "{{ current_user.username }}"
</script>
<script>
    const appList = {
        setup() {
            const websocketDisconnected = ref(false);
            const user = reactive({
                name: currentUserName,
                email: currentUserEmail,
            });
            const devices = ref([]);
            const tableData = ref([]);

            filters: {
                formatTime(value) {
                    var t = moment(value)
                    return t.format("YYYY-M-D HH:mm:ss");
                },
                fromNow(value) {
                    return moment(value).fromNow();
                }
            };
            function fetchAppListDevices() {{
                await axios.get("/api/v1/devices"+"?platform=apple")
                   .then(ret => {
                        devices.value = ret.data.devices;
                        tableData.value = tableDataList();
                    })
                   .catch(err => {
                        console.error(err)
                    })
            });
            function tableDataList() {
                return devices.value.map(v => {
                    for (const key in v.properties) {
                        if (v.properties.hasOwnProperty(key)) {
                            v['prop_' + key] = v.properties[key]
                        }
                    }
                    let display = v.display || {}
                    v['display_size'] = display.width + "x" + display.height;
                    return v;
                })
            };
            watch(devices, (newVal, oldVal) => {
                tableData.value = tableDataList();
            },{deep: true});
            mounted() {
                fetchAppListDevices();

                let scheme = location.protocol === 'https' ? 'wss' : 'ws';
                let wsURL = scheme + "://" + location.host + "/websocket/devicechanges?platform=apple";
                let ws = new WebSocket(wsURL);
                ws.onopen = (evt) => {
                    console.log("Websocket Connected")
                }
                ws.onmessage = (evt) => {
                    let m = JSON.parse(evt.data);
                    switch (m.event) {
                        case "update":
                            devices.value = devices.value.map((v) => {
                                console.log(v.udid)
                                if (v.udid == m.data.udid) {
                                    return m.data
                                }
                                return v
                            })
                            console.log("Updated:", devices.value)
                            break;
                        case "insert":
                            devices.value.unshift(m.data);
                            break;
                        default:
                            console.error("Unknown event type", m.event)
                            break;
                    }
                }
                ws.onclose = (evt) => {
                    console.log("Websocket closed")
                    websocketDisconnected.value = true
                }
            }
            return {
                filters,
                devices,
                tableData,
                user,
                websocketDisconnected,
            }
        },
        methods: {
            formatTimeUsed() {
                // let duration = moment(this.finishedAt) - moment(this.createdAt);
                // return moment.utc(duration).format('HH:mm:ss')
            },
            async deviceAcquire(udid) { // for multi device acquire
                return await axios({
                    method: "post",
                    url: "/api/v1/user/devices",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    data: JSON.stringify({
                        "udid": udid,
                    }),
                })
                    .then(ret => {
                        console.log(ret.data)
                    })
                    .catch(err => {
                        console.error(err)
                    })
            },
            async deviceRelease(udid) {
                await axios({
                    method: "delete",
                    url: "/api/v1/user/devices/" + udid,
                    headers: {
                        "Content-Type": "application/json",
                    },
                })
                    .then(ret => {
                        console.log(ret.data)
                    })
            },
            deviceStatusName(device) {
                if (!device.present) {
                    return "Offline"
                }
                if (!device.using) {
                    return "Use"
                }
                if (device.userId == currentUserEmail) {
                    return "Stop"
                }
                return "Busy"
            },
            clickStatus(event, device) {
                let status = this.deviceStatusName(device)
                console.log("Status", status)
                switch (status) {
                    case "Use":
                        return true;
                    case "Stop":
                        this.deviceRelease(device.udid);
                        event.preventDefault()
                        return true
                    default:
                        event.preventDefault()
                }
                console.log(device.udid)
            }
        },
    };
    createAppList(appList).use(ElementPlus, {
        locale: ElementPlusLocaleZhCn,
    }).mount("#app");

</script>
{% end %}
