<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Default title{% end %}</title>

    <link rel="stylesheet" href="/static/vendor/fontawesome-5.7.2/css/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/element-plus/dist/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css">
    
    <script src="https://unpkg.com/vue@3.4.21/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.23.0/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/element-plus"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-base64@2.5.1/base64.min.js"></script>

    {% block head %} {% end %}
    {% block style %} {% end %}
    <style>
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            font-family: verdana, arial, helvetica, sans-serif;
            color: #525f7f;
        }
        .container_body {
            min-height: 100%;
            margin-bottom: -50px;
        }
        .footer {
            position: relative;
            width: 100%;
            height: 20px;
            font-size: 80%;
            padding: 5px 0;
        }
        .container_body:after {
            content: "";
            display: block;
        }
    </style>
</head>

<body>
    <div class="container_body" id="content-wrapper">
        {% block nav %}
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
            
            <div {% block nav_container_class %}class="container"{% end %}>
                <span class="title navbar-brand">ATXServer2</span>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <div class="navbar-nav">
                        <a v-for="l in links" :href="l.path" class="nav-item nav-link"
                            :class="{active: activePath === l.path}">
                            <i :class="l.icon"></i> {{! l.name }}
                        </a>
                        {% block navlinks %}
                        {% end %}
                        <!-- <a class="nav-item nav-link active" href='/'> -->
                        <!-- </a> -->
                    </div>
                    <div class="navbar-nav navbar-right ml-auto">
                        {% if current_user.admin %}
                        <div class="nav-item">
                            <a class="nav-link" href="/admin"><i class="fas fa-users-cog"></i> 后台管理</a>
                        </div>
                        {% end %}
                        <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{current_user.username}}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/user">用户信息</a>
                                <a class="dropdown-item" @click="logout" >退出登录</a>
                            </div>
                        </div>
                    </div>
                </div>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>

        <script>
            const { createApp, ref, reactive, watch, computed, created, onBeforeMount, onMounted, onUnmounted } = Vue;
            const {ElMessage, ElMessageBox, ElNotification, FormInstance,ElTree} = ElementPlus;

            const app = createApp({
                setup() {
                    const links = ref([
                        {
                            path: "/devices",
                            name: "设备列表",
                            icon: "fas fa-th-list"
                        },
                        {
                            path: "/uploads",
                            name: "文件上传",
                            icon: "fas fa-cloud-upload-alt"
                        }
                    ]);

                    const activePath = ref(location.pathname);
                    function logout() {
                        ElMessageBox.confirm(
                            '<div style="text-align:center;font-size:1.2rem;margin-bottom:1rem">确认退出登录吗？</div>',
                            {
                                distinguishCancelAndClose: true,
                                confirmButtonText: '确认',
                                cancelButtonText: '取消',
                                dangerouslyUseHTMLString: true,
                                overflow: true,
                        }).then(() => {
                            axios.get('/logout').then(() => {
                                localStorage.removeItem('token');
                                localStorage.removeItem('access_token');
                                location.href = '/';
                            }).catch(e => {
                                ElMessage.error(e.message);
                            });
                        }).catch(() => {
                            console.log('取消退出登录');
                        });
                    }

                    return {
                        links,
                        activePath,
                        logout,
                    };
                }
            });
            app.use(ElementPlus).mount('#navbarNavDropdown');
        </script>
        {% end %}
        <div id="app">
            {% block content %}{% end %}
        </div>
    </div>
    {% block footer %}
    <footer class="footer">
        <div class="container-fluid">
            <span class="text-muted">ATXServer2 V0.2.2 2024 © Guo</span>
            <div class="text-muted">Powered by ATXServer2、Vue3、Element-Plus、Axios</div>
        </div>
    </footer>
    {% end %}

    {% block script %}
    <script>
        var empty = null;
    </script>
    {% end %}
</body>

</html>
