{% extends "base.html" %}

{% block title %}设备列表{% end %}
{% block nav_container_class %}
class="container-fluid"
{% end %}
{% block script %}
{% end %}
{% block style %}
<style>
    .color-right {
        background-color: yellowgreen;
        color: white;
    }

    .color-wrong {
        color: red;
    }

    .color-yellow {
        color: burlywood;
    }

    .cursor-pointer {
        cursor: pointer;
    }

</style>
{% end %}

{% block navlinks %}
<span class="navbar-text" style="padding-left: 1em">V{{version}}</span>
{% end %}

{% block content %}
<div class="container-fluid">
    <span onclick="location.reload()">
        <el-alert v-if="websocketDisconnected" title="WebSocket连接断开，点击或F5刷新重连" type="error">
        </el-alert>
    </span>
    <div class="row">
        <div class="col-12" style="margin-top: 10px">
            <div class="card  border-light">
                <div class="card-body">
                    <div>
                        <!-- <el-checkbox size="mini" v-model="filters.private"><i class="fas fa-lock"></i> 私有设备
                        </el-checkbox> -->
                    </div>
                    <div>
                        <el-checkbox-button size="mini"  v-model="filters.platform.android">
                            <i class="fab fa-android"></i> 安卓 <small>{{! counts.android }}</small>
                        </el-checkbox-button>
                        <el-checkbox-button size="mini"  v-model="filters.platform.apple">
                            <i class="fab fa-apple"></i> 苹果 <small>{{! counts.apple }}</small>
                        </el-checkbox-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <el-table :data="tableData">
        <template #empty>
            <div class="custom-empty-text">
                请连接设备后查看
            </div>
        </template>
        <el-table-column label="操作">
            <template #default="scope">
                <template v-if='"offline" == scope.row.status'>
                    <el-button size="mini" disabled>设备离线</el-button>
                </template>
                <template v-else-if='"colding" == scope.row.status'>
                    <el-button disabled :loading="true" size="mini" type="primary">释放中</el-button>
                </template>
                <template v-else-if='"busy" == scope.row.status'>
                    <el-button :title="scope.row.userId" style="cursor: not-allowed; background: #f3d19e" size="mini"
                        type="warning">
                        <span @dblclick.alt="deviceRelease(scope.row.udid)">
                            <i class="fas fa-lock color-yellow" v-show="scope.row.private"></i> 已被占用
                        </span>
                    </el-button>
                </template>
                <template v-else-if='"stop using" == scope.row.status'>
                    <el-button @click="deviceRelease(scope.row.udid)" size="mini" type="danger">停用</el-button>
                </template>
                <template v-else>
                    <a :href='"/devices/"+scope.row.udid+"/remotecontrol"' target="_blank">
                        <el-button size="mini">
                            <span style="color: blue">点击使用</span>
                        </el-button>
                    </a>
                </template>
            </template>
        </el-table-column>
        <el-table-column label="设备编号">
            <template #default="scope">
                <template v-if="scope.row.status == 'stop using'">
                    <a style="font-family: 'Courier New'" :title="scope.row.prop_serial || scope.row.udid"
                        :href='"/devices/"+scope.row.udid+"/remotecontrol"'
                        target="_blank">
                        {{! shortString(scope?.row.prop_serial || scope?.row.udid) }}
                    </a>
                </template>
                <template v-else>
                    <span style="font-family: 'Courier New'" :title="scope.row.prop_serial || scope.row.udid">
                        {{! shortString(scope?.row.prop_serial || scope?.row.udid) }}
                    </span>
                </template>
            </template>
        </el-table-column>
        <el-table-column label="设备名" prop="prop_name">
            <template #default="scope">
                <template v-if="!!scope.row.owner">
                    <i v-if="scope.row.owner==user.email" class="fas fa-lock color-yellow"></i>
                    <i v-else class="fas fa-user" :title="scope.row.owner"></i>
                </template>
                <atx-edit-inline :readonly="!user.admin" :value="scope.row.properties.name"
                    @change="updatePropertyName(scope.row.udid, $event)">
                </atx-edit-inline>
            </template>
        </el-table-column>

        <el-table-column label="型号">
            <template #default="scope">
                <span v-text="scope.row.properties.product || scope.row.properties.model"></span>
            </template>
        </el-table-column>

        <el-table-column label="品牌">
            <template #default="scope">
                <span v-text="scope.row.properties.brand"></span>
            </template>
        </el-table-column>

        <el-table-column label="版本" prop="prop_version" sortable :sort-method="semverCompare">
            <template #default="scope">
                <span v-text="scope.row.properties.version"></span>
            </template>
        </el-table-column>

        <el-table-column label="锁屏密码" prop="prop_password">
            <template #default="scope">
                <span v-text="scope.row.properties.password"></span>
            </template>
        </el-table-column>

        <el-table-column :sort-method="tableSortBy('prop_propertyId')" sortable label="资产编号">
            <template #default="scope">
                <atx-edit-inline :readonly="!user.admin" :value="scope.row.prop_propertyId"
                    @change="updatePropertyId(scope.row.udid, $event)">
                </atx-edit-inline>
            </template>
        </el-table-column>

       <el-table-column :sort-method="tableSortBy('department')" sortable label="所属部门">
            <template #default="scope">
                <atx-edit-inline :readonly="!user.admin" :value="scope.row.department"
                    @change="updateDeviceDepartment(scope.row.udid, $event)">
                </atx-edit-inline>
            </template>
        </el-table-column>
        <el-table-column sortable :sort-method="tableSortBy('usingDuration')" label="使用时长">
            <template  #default="scope">
                {{! formatDuration(scope.row?.usingDuration) }}
            </template>
        </el-table-column>
    </el-table>
</div>
{% end %}

{% block script %}
<script>
    const currentUserEmail = "{{ current_user.email }}";
    const currentUserName = "{{ current_user.username }}"
    const admin = "{{current_user.admin}}" == "True" // Python true is "True"
    console.log(admin)
</script>
<script>
    const deviceList = {
        setup() {
            const websocketDisconnected = ref(false);
            const user = reactive({
                email: currentUserEmail,
                username: currentUserName,
                admin: admin,
            });
            const filters = reactive({
                private: false,
                platform: {
                    android: true,
                    apple: true,
                },
            });
            const counts = reactive({
                android: 0,
                apple: 0,
            });
            const devices = ref([]);
            const tableData = ref([]);

            // 周期调用
            let intervalId = null;
            const runtimes = ref(0);
            const maxRuntimes = 5;

            async function fetchDevices() {
                const response = await axios.get("/api/v1/devices?present=true").then(
                    (response) => {
                        devices.value = response.data.devices;
                        tableData.value = orderedDevices(devices.value);
                    }
                );
            };

            function deviceConvert(device) {
                if (!device.present) {
                    return { status: "offline", order: 0, text: "设备离线" };
                } else if (device.colding) {
                    return { status: "colding", order: 1, text: "清理中" };
                } else if (!device.using) {
                    return { status: "use", order: 2, text: "开始使用" };
                } else if (device.userId == currentUserEmail) {
                    return { status: "stop using", order: 3, text: "停止使用" };
                } else {
                    return { status: "busy", order: 0.5, text: "忙碌中" };
                }
            };

            function orderedDevices(devices){
                let sortBy = (key) => {
                    return (a, b) => a[key] > b[key] ? 1 : (b[key] > a[key] ? -1 : 0)
                };

                let device = devices.map(d => {
                    return Object.assign(d, deviceConvert(d))
                }).sort(sortBy("order")).reverse();

                counts.android = 0;
                counts.apple = 0;
                device.forEach(d => {
                    if (d.present) {
                        if (d.platform == "android") {
                            counts.android++;
                        } else if (d.platform == "apple") {
                            counts.apple++;
                        }
                    }
                })
                return device;
            };

            function updateDeviceList() {
                runtimes.value = 0;
            };

            function updateDeviceStatus(udid, status) {
                const device = devices.value.find((d) => d.udid == udid);
                if (device) {
                    device.status = status;
                };
            };

            watch(runtimes,() => {
                if (runtimes.value >= maxRuntimes || tableData.value.length == 0) {
                    stopPolling();
                }
                if (runtimes.value == 0) {
                    console.log('刷新设备列表');
                    //fetchDevices();
                    //startPolling();
                }
            });

            watch(devices, (newVal, oldVal) => {
                console.log('devices changed', newVal);
                tableData.value = orderedDevices(devices.value);
                console.log(tableData.value);
            }, { deep: true });

            // 启动周期性调用
            const startPolling = () => {
                console.log('runtimes:', runtimes.value);
                if (!intervalId) {
                    intervalId = setInterval(() => {
                        fetchDevices();
                        runtimes.value += 1;
                    }, 300); // 每 5 秒调用一次
                };
            };

            // 停止周期性调用
            const stopPolling = () => {
                if (intervalId) {
                    clearInterval(intervalId);
                    intervalId = null;
                    console.log('周期调用已停止');
                }
            };

            onMounted(() => {
                console.log("onMounted");
                fetchDevices();

                let scheme = location.protocol === 'https' ? 'wss' : 'ws';
                let wsURL = scheme + "://" + location.host + "/websocket/devicechanges";
                ws = new WebSocket(wsURL);
                let refreshKey = null;

                ws.onopen = (evt) => {
                    console.log("Websocket Connected");
                    refreshKey = setInterval(() => {
                       ws.send("ping");
                       console.log("ping");
                    }, 5000);
                };

                ws.onmessage = (evt) => {
                    let m = JSON.parse(evt.data);
                    let isUpdate = devices.value.some((v) => v.udid == m.data.udid);
                    if (isUpdate) {
                        devices.value = devices.value.map((v) => {
                            console.log(v.udid);
                            if (v.udid == m.data.udid) {
                                return m.data;
                            }
                            return v;
                        });
                    } else {
                        devices.value.unshift(m.data);
                    }
                };

                ws.onclose = (evt) => {
                    console.log("Websocket closed");
                    websocketDisconnected.value = true;
                    clearInterval(refreshKey);
                };

                ws.onerror = (evt) => {
                    console.error("Websocket error", evt);
                    websocketDisconnected.value = true;
                    clearInterval(refreshKey);
                    // 重新连接
                    setTimeout(() => {
                        onMounted();
                    }, 5000);
                };
                //startPolling();
            });
            onUnmounted(() => {
                // stopPolling();
                if (ws) {
                    ws.close();
                }
                clearInterval(refreshKey);
            });
            return {
                websocketDisconnected,
                filters,
                counts,
                devices,
                user,
                tableData,
                updateDeviceList,
            };
        },
        created() {
            // console.log("beforeCreate");
        },
        methods: {
            tableSortBy(prop, defaultValue) {
                defaultValue = defaultValue || null;
                return (a, b) => {
                    let va = a[prop] || defaultValue, vb = b[prop] || defaultValue;
                    if (va == vb) return 0;
                    return va > vb ? 1 : -1;
                };
            },
            formatTime(value) {
                var t = moment(value)
                return t.format("YYYY-M-D HH:mm:ss");
            },
            fromNow(value) {
                return moment(value).fromNow();
            },
            shortString(value) {
                if (value.length > 10) {
                    return value.slice(0, 8) + "..";
                }
                return value;
            },
            formatDuration(value) {
                let duration = moment.duration(value, "seconds");
                return moment.utc(duration.asMilliseconds()).format("HH:mm:ss");
            },
            semverCompare(a, b) {
                function cmp(as, bs, i, j) {
                    let va = as[i], vb = bs[j];
                    if (va == null || vb == null) {
                        if (va == null && vb == null) {
                            return 0
                        };
                        return va == null ? -1 : 1;
                    };
                    if (va == vb) {
                        return cmp(as, bs, i + 1, j + 1)
                    };
                    return parseInt(va, 10) - parseInt(vb, 10) > 0 ? 1 : -1
                }

                let as = a.prop_version.split("."), bs = b.prop_version.split(".");
                return cmp(as, bs, 0, 0)
            },
            async updatePropertyId(udid, text) { // admin required
                await axios({
                    url: "/api/v1/devices/" + udid + "/properties",
                    method: "put",
                    headers: {
                        "contentType": "application/json",
                        "Authorization": "Bearer " + localStorage.getItem("access_token")
                    },
                    data: JSON.stringify({
                        "propertyId": text,
                    })
                   .then(ret => {
                        console.log('updatePropertyId');
                        //this.updateDeviceList();
                        //console.log(ret);
                   })
                   .catch(err => {
                        if (err.response && err.response.status == 400) {
                            ElMessage.error(err.response.data.description);
                        } else {
                            ElMessage.error(err.response ? err.response.data : err.message);
                        };
                   })
                });
            },
            async updatePropertyName(udid, text) { // admin required
                if (typeof(text) == "string"){
                    await axios({
                        url: "/api/v1/devices/" + udid + "/properties",
                        method: "put",
                        headers: {
                            "contentType": "application/json",
                            "Authorization": "Bearer " + localStorage.getItem("access_token")
                        },
                        data: JSON.stringify({
                            "name": text,
                        })
                    })
                   .then(ret => {
                        console.log('updatePropertyName');
                        //this.updateDeviceList();
                        //console.log(ret);
                   })
                   .catch(err => {
                        if (err.response && err.response.status == 400) {
                            ElMessage.error(err.response.data.description);
                        } else {
                            ElMessage.error(err.response ? err.response.data : err.message);
                        };
                   })
                }
            },
            async updateDeviceDepartment(udid, text) { // admin required
                await axios({
                    url: "/api/v1/devices/" + udid,
                    method: "put",
                    headers: {
                        "contentType": "application/json",
                        "Authorization": "Bearer " + localStorage.getItem("access_token")
                    },
                    data: JSON.stringify({
                        "department": text,
                    })
                })
                   .then(ret => {
                        console.log('updateDeviceDepartment');
                        //this.updateDeviceList();
                        //console.log(ret);
                   })
                   .catch(err => {
                        if (err.response && err.response.status == 400) {
                            ElMessage.error(err.response.data.description);
                        } else {
                            ElMessage.error(err.response ? err.response.data : err.message);
                        };
                   })
            },
            formatTimeUsed() {
                // let duration = moment(this.finishedAt) - moment(this.createdAt);
                // return moment.utc(duration).format('HH:mm:ss')
            },
            async deviceAcquire(udid) { // for multi device acquire
                await axios({
                    method: "post",
                    url: "/api/v1/user/devices",
                    data: { udid: udid },
                    headers: { 'Content-Type': 'application/json' }
                })
                    .then(ret => {
                        console.log('deviceAcquire');
                        //this.updateDeviceList();
                        return ret.data;
                    })
                    .catch(err => {
                        if (err.response && err.response.status == 400) {
                            ElMessage.error(err.response.data.description);
                        } else {
                            ElMessage.error(err.response ? err.response.data : err.message);
                        }
                    });
            },
            deviceUse(udid) {
                console.log("use device", udid);
                //this.updateDeviceList();
            },
            async deviceRelease(udid) {
                await axios({
                    method: "delete",
                    url: "/api/v1/user/devices/" + udid,
                    headers: { 'Content-Type': 'application/json' }
                })
                    .then(ret => {
                        console.log('deviceRelease');
                        //this.updateDeviceList();
                        return ret.data;
                    })
                    .catch(err => {
                        if (err.response && err.response.status == 400) {
                            ElMessage.error(err.response.data.description);
                        } else {
                            ElMessage.error(err.response ? err.response.data : err.message);
                        }
                    });
            },
            deviceStatusName(device) {
                if (!device.present) {
                    return "Offline";
                }
                if (device.colding) {
                    return "Colding";
                }
                if (!device.using) {
                    return "Use";
                }
                if (device.userId == currentUserEmail) {
                    return "Stop";
                }
                return "Busy";
            },
            clickStatus(event, device) {
                let status = this.deviceStatusName(device);
                console.log("Status", status);
                switch (status) {
                    case "Use":
                        return true;
                    case "Stop":
                        this.deviceRelease(device.udid);
                        event.preventDefault();
                        return true;
                    default:
                        event.preventDefault();
                }
                console.log(device.udid);
            }
        },
        components: {
            "atx-edit-inline": {
                props: {
                    value: String,
                    readonly: Boolean,
                    types: String,
                    options: Array,
                },
                data: function () {
                    return {
                        edit: false,
                        editValue: "",
                        showEdit: false,
                    }
                },
                methods: {
                    update() {
                        // console.log("update",this.types);
                        if (this.editValue != this.value) {
                            console.log("update",this.editValue);
                            this.$emit("change", this.editValue);
                        }
                        this.edit = false;
                    },
                    onEdit() {
                        if (!(this.readonly && this.showEdit)) {
                            return;
                        }
                        this.edit = true;
                        this.editValue = this.value;
                        this.$nextTick(() => {
                            if(this.types=='select') {
                                this.$refs.mySelect.focus();
                            }else{
                                this.$refs.input.focus();
                            }
                        });
                    },
                    showValue(value) {
                        if (value) {
                            if (this.types=='select' && this.options) {
                                const ops = this.options.find(item => item.value == value);
                                if (ops) {
                                    return ops.label
                                }
                            }
                            if (value.split("\n").length > 1) {
                                return value.split("\n").join('<br>');
                            }
                            return value
                        }else{
                            return "-"
                        };
                    }
                },
                template: `
                <div>
                    <div v-if="edit">
                        <el-form @submit.prevent="update">
                            <el-input v-if="types=='textarea'" v-model="editValue" type="textarea" @keyup.esc="edit=false" @blur="update" @focus="showEdit=false" style="border-radius: 0;" ref="input" autosize />
                            <el-select v-else-if="types=='select'" v-model="editValue" @keyup.esc="edit=false" @change="update" @blur="update" @focus="showEdit=false" clearable placeholder="请选择" ref="mySelect">
                                <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value"></el-option>
                            </el-select>
                            <el-input v-else v-model="editValue" @keyup.esc="edit=false" @keydown.enter="update" @blur="update" @focus="showEdit=false" style="border-radius: 0;" ref="input" autosize />
                        </el-form>
                    </div>
                    <div v-else @mouseenter="showEdit = true" @mouseleave="showEdit = false" @click="onEdit">
                        <span v-html="showValue(value)"></span>
                        <i v-if="readonly && showEdit" class="cursor-pointer" style="vertical-align: middle;">
                            <el-icon :size="20" style="margin-top: 5px;">
                                <Edit />
                            </el-icon>
                        </i>
                    </div>
                </div>`
            }
        },
    };
    const deviceListApp = createApp(deviceList);
    deviceListApp.use(ElementPlus, {
        locale: ElementPlusLocaleZhCn,
    }).mount("#app");
    for (const [key, component] of Object.entries(ElementPlusIconsVue)) {
      deviceListApp.component(key, component)
    };
</script>
{% end %}
