{% extends "base.html" %}

{% block title %}设备列表{% end %}

{% block script %}
{% end %}
{% block style %}
<style>
    .color-right {
        background-color: yellowgreen;
        color: white;
    }

    .color-wrong {
        color: red;
    }
</style>
{% end %}

{% block content %}
<div class="container">
    <h3>文件上传</h3>
    <el-upload ref="upload" class="upload-demo" drag action="/uploads" :on-success="onUpload" multiple>
        <i class="el-icon-upload"></i>
        <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
        <div class="el-upload__tip" slot="tip">暂时只支持apk的上传</div>
    </el-upload>

    <div>
        <template v-for="f in filesList" :key="f.packageName">
            <el-card v-if="f.md5sum" class="box-card">
                <i class="fab fa-android" style="font-size: 1.5em;"></i>
                <!--img :src="f.iconUrl" alt="icon" style="height: 30px;"-->
                <span v-text="f.packageName" style="font-size: 1em;margin: 0 10px;"></span>
                <em v-text="f.versionName"></em>
                <a :href="f.url" v-text="f.fileName" target="_blank" style="margin: 0 10px;"></a>
                <el-button type="text" @click="deleteFile(f.md5sum)" style="float: right;">删除</el-button>
            </el-card>
        </template>
    </div>
</div>
{% end %}

{% block script %}
<script>
    const upload = {
        setup() {
            const filesList = ref([]);
            //
            //    {
            //        iconUrl: "/static/images/android-logo-robot.png",
            //        packageName: "",
            //        versionName: "",
            //        md5sum: "",
            //    }
            function getFilesList() {
                // TODO: get files list from server
                axios.get("/upload").then(res => {
                    console.log(res.data)
                    filesList.value = res.data.data;
                });
            }
            const upload = ref(null);
            function onUpload(resp, file, files) {
                if (!resp.success) {
                    ElMessage.error(resp.description);
                    return
                }
                if (!resp.data.iconUrl) {
                    resp.data.iconUrl = "/static/images/android-logo-robot.png"
                }
                console.log(resp.data, file, files);
                if (resp.data && typeof resp.data === 'object'){
                    getFilesList();
                    ElMessage.success("上传成功");
                }
                //console.log(resp)
                //console.log(file)
                //console.log(files)
                upload.value.clearFiles()
            };
            function deleteFile(md5sum) {
                // TODO: delete file from server
                axios.delete("/upload", {
                    data: {
                        md5sum: md5sum,
                    }
                }).then(res => {
                    console.log(res.data)
                    getFilesList();
                    ElMessage.success("删除成功");
                });
            }
            onBeforeMount(() => {
                getFilesList();
            });

            return {
                filesList,
                upload,
                deleteFile,
                onUpload,
            };
        }
    };
    createApp(upload).use(ElementPlus, {
        locale: ElementPlusLocaleZhCn,
    }).mount("#app");
</script>
{% end %}
