{% extends "base.html" %}

{% block title %}用户详情{% end %}

{% block script %}
{% end %}
{% block style %}
<style>
    .color-right {
        background-color: yellowgreen;
        color: white;
    }

    .color-wrong {
        color: red;
    }
</style>
{% end %}

{% block navlinks %}
<a href="/user" class="nav-item nav-link active">
    <i class="fas fa-user"></i> 用户信息
</a>
{% end %}

{% block content %}
<div class="container">
    <div style="margin-top: 10px">
        <div>
            <dl>
                <dt>邮箱</dt>
                <dd>{{! email }}</dd>
                <dt>用户名</dt>
                <dd v-text="username"></dd>
            </dl>
        </div>
        <div class="form-group">
            <label>Token</label>
            <input class="form-control form-control-sm" :value="token">
        </div>
        <h4>接口使用方法
            <a target="_blank" href="https://httpie.org/"><small>HTTPie</small></a></h4>
        <p>
            <code>http GET http://localhost:4000/api/v1/user Authorization:'Bearer <span v-text="token"></span>'</code>
        </p>
    </div>
    <div>
        <hr>
        <h4>组管理 <a href="/user/group_create"><small>创建组</small></a></h4>
        <el-table :data="groups">
            <template #empty>
                <div>暂无数据</div>
            </template>
            <el-table-column prop="id" label="名称"></el-table-column>
            <el-table-column prop="name" label="备注"></el-table-column>
            <el-table-column prop="admin" label="管理员">
                <template slot-scope="scope">
                    <span v-text="scope.row.admin ? '是' : '否'"></span>
                </template>
            </el-table-column>
        </el-table>
    </div>
</div>
{% end %}

{% block script %}
<script>
    const user_page = {
        setup() {
            const email = ref("");
            const username = ref("");
            const token = ref("");
            async function getUserInfo() {   // 获取用户信息
                await axios.get("/api/v1/user")
                   .then((ret) => {
                        // console.log(ret.data);
                        token.value = ret.data.token;
                        email.value = ret.data.email;
                        username.value = ret.data.username;
                    })
                   .catch((err) => {
                        console.error(err);
                   });
            }
            onMounted(getUserInfo);
            return {
                email,
                username,
                token,
            };
        },
    };
    createApp(user_page).use(ElementPlus, {
        locale: ElementPlusLocaleZhCn,
    }).mount("#app");

</script>
{% end %}
